@import '../../styles/variables.css';

.item {
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
  min-width: 120px;
}

.imageWrapper {
  display: inline-block;
  margin: 6px auto;
  box-sizing: border-box;
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgba(84, 84, 84, 0.3);
}

.image {
  width: 80px;
}

.title,
.title:hover,
.title:active,
.title:visited {
  text-decoration: none;
  color: var(--text-dark);
}

