@import '../../styles/variables.scss';

.footer {
  font-size: 14px;
  margin-top: 85px;
  padding-top: 85px;
  padding-bottom: 85px;
  color: $text-color-inverse;
  background-color: $body-bg-inverse;

  .text,
  .spacer,
  .link {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
  }

  .link,
  .link:active,
  .link:visited {
    text-decoration: none;
    color: $text-color-inverse;
  }

  .link:hover {
    color: rgba(204, 204, 204, 0.6);
  }
}
