@import '../../styles/variables.scss';

.footer {
  font-size: 14px;
  padding-top: 85px;
  padding-bottom: 85px;
  color: $text-color-inverse;
  background-color: $body-bg-inverse;

  .text,
  .link {
    padding: 2px 5px;
  }

  .link,
  .link:active,
  .link:visited {
    text-decoration: none;
    color: $text-color-inverse;
  }

  .link:hover {
    color: rgba(204, 204, 204, .6);
  }
}
