@import '../../styles/variables.css';

.champion {
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
  min-width: 120px;
}

.championImageWrapper {
  display: inline-block;
  margin: 6px auto;
  box-sizing: border-box;
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgba(84, 84, 84, 0.3);
}

.championImage {
  width: 80px;
}

.championText,
.championText:hover,
.championText:active,
.championText:visited {
  text-decoration: none;
  color: var(--text-dark);
}
