@import '../../styles/variables.scss';

.champion-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .champion {
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    min-width: 98px;
  }

  .champion-image-wrapper {
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    padding: 4px;
    background-color: #fff;
    border: 1px solid rgba(84, 84, 84, 0.3);
  }

  .champion-image {
    width: 80px;
  }

  .champion-text,
  .champion-text:hover,
  .champion-text:active,
  .champion-text:visited {
    text-decoration: none;
    color: $text-color;
  }
}
